html, body{

 padding: 0;
 margin: 0;

}

body {

	background: url("images/body-pattern.jpg") top left repeat;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'FontStatut';
    src: url('fonts/Pacifico.ttf');
}

/* ----------------------------

			Header

----------------------------- */

header {

	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height: 50px;
	width: 100%;
	position: fixed;

}

#title-logo {


	padding: 10px 0 1px 70px;


}

.title-color {

	color: #2980b9;
	font-weight: bold;
	font-size: 24px;
}

.title-status {

	font-family: FontStatut;
	color: #7f8c8d;
	float: left;
	margin-left: 250px;
	margin-top: -30px;

}

nav {

	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height: 50px;
	width: 100%;
	margin-left: 231px;
	margin-top: 12px;
	position: fixed;
}

.nav-menu {

	margin-top: 0px;
	font-size: 13px;
}

.nav-title {

	color: #333333;
	font-weight: bold;
	margin-top: 0px;
	display: block;
	float: left;
	margin-left: 37%;
	border-bottom: 3px solid #2980b9;
	cursor: pointer;
	

}

.nav-title2 {

	color: #7f8c8d;
	margin-top: 0px;
	display: block;
	float: left;
	margin-left: 30px;
	cursor: pointer;

}

.nav-title2:hover {

	border-bottom: 3px solid #2980b9;
}

ul, li {

	list-style-type:none;
	display: inline;
	line-height: 50px;

}

a {

	text-decoration: none;
}

/* ----------------------------

			Aside

----------------------------- */


aside {

	background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #E8E8E8;
    height: 3000px;
	width: 230px;
	position: fixed;
	margin-top: 51px;

}

.photo_profil {

	width: 165px;
	height: 165px;
	background-color: #E8E8E8;
	display: block;
	margin: 15px 15px 8px 15%;


}

.photo-nom {

	color: #2980b9;
	text-align: center;


}

.aside-line {

	border-bottom: 1px solid #E2E2E2;
	margin: 15px 30px 10px 30px;
    
}

#friend_bloc {

	margin: 15px 15px 8px 15%;
}

.friend-title {

	font-size: 14px;
	font-weight: bold;
	color: #2980b9;
}

.friend-title:hover {

	text-decoration: underline;
	color: #2980b9;
	cursor: pointer;
}

.friend-user {

	margin-bottom: 10px;
}

.friend-user-info {

	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-top: -13px;
	margin-left: 25px;


}

.friend-connected-user {

  background:#bfd70e;
  border-radius:50%;
  width: 10px;
  height: 10px;
  border: 2px solid #E8E8E8;

}

.friend-deconnected-user {

  background: red;
  border-radius:50%;
  width: 10px;
  height: 10px;
  border: 2px solid #E8E8E8;

}

